body {
  background-color: #000;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}


.wrapper {
  h1 {
    color: $PrimaryColor;
    font-family: $PrimaryFont;
    &:hover {
      color: $HoverColor;
    }
  }
  p {
    font-family: sans-serif;
    line-height: 25px;
    color: greenyellow;
    opacity: 0.8;
  }
}