.logos {
   border: 2px solid yellow;
   border-radius: 7px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   .logo-box {
      display: flex;
      align-items: center;
      img {
         margin-right: 20px;
      }
   }
}